html, body, header, div, ul, li, head, h1, h2, h3, h4, h5, h6, p {
	text-decoration: none;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100px;
	font: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: url(images/mainbg.png) #DEE5E2;
}

/*******************************
 ************header*************
 ******************************/

.navbar {
    overflow: visible;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);
    z-index: 99;
}

.navbar a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10 8px 10;
    text-decoration: none;
    color: #2D8967;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
}

div.mobile-nav {
    display: none;
}

div.nav-links {
    margin-left: 65%;
}

.nav-link {
    padding-left: 20px;
    padding-top: 28px;
}

.nav-link:hover {
    text-decoration: underline;
}

div.container {
    margin-top: 19%;
}


/*******************************
 ************content*************
 ******************************/

h3.main-head {
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: #2D8967;
    margin-bottom: 10px;
    overflow: visible;
}

.heading h1 {
	font-size: 30px;
	font-weight: 900;
	padding: 10px 0 10px 0;
	margin-left: 60px;
	font-family: 'Bree Serif', serif;
}

.heading h3 {
	margin-left: 60px;
	padding: 10px;
	font-weight: bold;
}

a.overview-button {
	background-color: #2D8967;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 60px 60px;
}

a.overview-button:hover {
	color: #82CBB0;
}

div.heading, .why, .register, .navbar {
	border-style: solid;
	border-color: #82CBB0;
	border-width: 0 0 2px 0;
    padding: 5px;

}

/*******************************
 ************Why Tiws*************
 ******************************/

div.why {
    display: inline-block;
    padding: 10px 0 15px 0;
    background: #ffffff; 
    position: relative;
}

ul {
  list-style-type: none;
}

div.feature {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 26px;
    padding-top: 10px;
    border: 1px hidden;
    width: 30%;
}

.img-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;

}


h3.side-head {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

 /*******************************
 ************Tiws*************
 ******************************/

div.tiws {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    overflow: hidden; 
    background-color: white;  
}

h2.quote {
    border: 0px solid;
    width: 250px;
    height: 25px;
    text-align: center;
    display: inline;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
    opacity: 1;
}

h2.quote:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

/*******************************
 ************Register*************
 ******************************/

div.register {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

a.register-button {
    background-color: #2D8967;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

a.register-button:hover {
    color: #82CBB0;
}

/*******************************
 ************Contact*************
 ******************************/

div.contact {
    background-color: #E5E5E5;
    text-align: center;
    padding: 5px 0 10px 0;
}

h5.sec {
    font-weight: bold;
}

/*******************************
 ************Footer*************
 ******************************/

 div.foot {
    background-color: #2D8967;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
 } 

/*******************************
 ********Mobile version*********
 ******************************/

@media all and (min-width: 1024px) and (max-width: 1280px) { 
 
 

 }
 
@media all and (min-width: 768px) and (max-width: 1024px) { 
 
 

 }
 
/*******************************
 min-width:480px/max-width:768px
 ******************************/

@media all and (min-width: 480px) and (max-width: 768px) { 
 
body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: #ffffff;
}

/*******************************
 ************header*************
 ******************************/

div.navbar {
    display: none;
}

div.mobile-nav {
    display: inline-block;

}

.m-logo-img {
    display:block;
    margin: 0 auto;
    width: 60%;
    position: relative;
}

.m-navigation {
    background-color: #2D8967;
    margin: 0;
    padding: 1em 0 1em 0;
    width: 100%;
    line-height: 1;
    overflow: hidden;
}
 
.m-navigation li, .m-navigation a {
    display: inline-block;  
}
 
.m-navigation li {
    list-style-type: none;
}
 
.m-navigation > li {
    margin-left: 2.8%;
}
 
.m-navigation > li:first-child {
    margin-left: 25% !important;
}
 
.m-navigation a {
    padding: .25em;
    text-decoration: none;
    height: 1em;
    font-weight: bold;  
    color: #fff;
}
 
/*******************************
 ************content*************
 ******************************/



h3.main-head {
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
    color: #2D8967;
    margin-bottom: 10px;
    overflow: visible;
}

.heading h1 {
    font-size: 1.425em;
    font-weight: bold;
    padding: 28px 0 10px 0 !important;
    margin-left: 10px;
    margin-top: -70px; 
    font-family: 'Bree Serif', serif;
    padding-top: none;
}

div.heading {
    background: url(images/mainbg.png) #ffffff;
    padding-top: 0;
    margin: 5px 0 5px 0 !important;
}

.heading h3 {
    margin-left: 6px; 
}

a.overview-button {
    display: none;
}

div.heading, .why, .register, .navbar {
    border: none;
    padding: none;

}

/*******************************
 ************Why Tiws*************
 ******************************/

div.why {
    display: none;
  }  

 /*******************************
 ************Tiws*************
 ******************************/

div.tiws {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    overflow: hidden; 
    background-color: white;  
}

h2.quote {
    border: 0px solid;
    width: 250px;
    height: 25px;
    text-align: center;
    display: inline;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
    opacity: 1;
}

h2.quote:hover {
    text-decoration: none;
    text-transform: none;
}

/*******************************
 ************Register*************
 ******************************/

div.register {
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    background-color: #E5E5E5;
}


a.register-button {
    background-color: #2D8967;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.925em !important;
    font-weight: bold;
    margin-bottom: 5px;
}

a.register-button:hover {
    color: #82CBB0;
}

/*******************************
 ************Contact*************
 ******************************/

div.contact {
    background-color: #E5E5E5;
    text-align: center;
    padding: 5px 0 10px 0;
    font-size: 0.925em;
}

h5.sec {
    font-weight: bold;
}

/*******************************
 ************Footer*************
 ******************************/

 div.foot {
    background-color: #2D8967;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding: 8px;
    font-size: 0.725em;
 } 

 }

/*******************************
 *******max-width: 480px********
 ******************************/
 
@media all and (max-width: 480px) { 
 
 body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: #ffffff;
}

/*******************************
 ************header*************
 ******************************/

div.navbar {
    display: none;
}

div.mobile-nav {
    display: inline-block;

}

.m-logo-img {
    display:block;
    margin: 0 auto;
    width: 60%;
    position: relative;
    padding: 0;
}

.m-navigation {
    background-color: #2D8967;
    margin: 0;
    padding: 2.15% 0 2.15% 0;
    width: 100%;
    line-height: 1;
    overflow: hidden;
    text-align: center;
}
 
.m-navigation li, .m-navigation a {
    display: inline-block;  
}
 
.m-navigation li {
    list-style-type: none;
}
 
.m-navigation > li {
    margin-left: 0.8em;
}

.m-navigation li:first-child {
    margin-left: 0.5em;
}    
 
.m-navigation a {
    padding: .25em;
    text-decoration: none;
    height: 1em;
    font-size: 1em;
    font-weight: bolder;  
    color: #fff;
}
 
/*******************************
 ************content*************
 ******************************/



h3.main-head {
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
    color: #2D8967;
    margin-bottom: 10px;
    overflow: visible;
}

.heading h1 {
    font-size: 1.425em;
    font-weight: bold;
    padding: 28px 0 10px 0 !important;
    margin-left: 10px;
    margin-top: -70px; 
    font-family: 'Bree Serif', serif;
    padding-top: none;
}

div.heading {
    background: url(images/mainbg.png) #ffffff;
    padding-top: 0;
    margin: 5px 0 5px 0 !important;
}

.heading h3 {
    margin-left: 6px; 
}

a.overview-button {
    display: none;
}

div.heading, .why, .register, .navbar {
    border: none;
    padding: none;

}

/*******************************
 ************Why Tiws*************
 ******************************/

div.why {
    display: none;
  }  

 /*******************************
 ************Tiws*************
 ******************************/

div.tiws {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    overflow: hidden; 
    background-color: white;  
}

h2.quote {
    border: 0px solid;
    width: 250px;
    height: 25px;
    text-align: center;
    display: inline;
    padding: 15px;
    font-weight: bold;
    font-size: 1.2em;
    opacity: 1;
}

h2.quote:hover {
    text-decoration: none;
    text-transform: none;
}

/*******************************
 ************Register*************
 ******************************/

div.register {
    text-decoration: none;
    text-align: center;
    overflow: hidden;
    background-color: #E5E5E5;
}


a.register-button {
    background-color: #2D8967;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.925em !important;
    font-weight: bold;
    margin-bottom: 5px;
}

a.register-button:hover {
    color: #82CBB0;
}

/*******************************
 ************Contact*************
 ******************************/

div.contact {
    background-color: #E5E5E5;
    text-align: center;
    padding: 5px 0 10px 0;
    font-size: 0.925em;
}

h5.sec {
    font-weight: bold;
}

/*******************************
 ************Footer*************
 ******************************/

 div.foot {
    background-color: #2D8967;
    color: #ffffff;
    font-weight: normal;
    text-align: center;
    padding: 8px;
    font-size: 0.725em;
 } 

 }