html, body, header, div, ul, li, head, h1, h2, h3, h4, h5, h6, p {
	text-decoration: none;
	padding: 0;
	margin: 0;
	border: 0;
	font-size: 100px;
	font: inherit;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    background: url(images/mainbg.png) #DEE5E2;
}

/*******************************
 ************header*************
 ******************************/

.navbar {
    overflow: visible;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 3px 3px rgba(0,0,0,.4);
    z-index: 99;
}

.navbar a {
    float: left;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 8px 10 8px 10;
    text-decoration: none;
    color: #2D8967;
    font-weight: bolder;
    font-size: 20px;
    font-family: 'Heebo', sans-serif;
}

div.nav-links {
    margin-left: 65%;
}

.nav-link {
    padding-left: 20px;
    padding-top: 28px;
}

.nav-link:hover {
    text-decoration: underline;
}

div.container {
    margin-top: 19%;
}


/*******************************
 ************content*************
 ******************************/

h3.main-head {
    font-family: 'Acme', sans-serif;
    font-weight: bolder;
    font-size: 25px;
    text-align: center;
    padding: 10px;
    color: #2D8967;
    margin-bottom: 10px;
    overflow: visible;
}

.heading h1 {
	font-size: 30px;
	font-weight: 900;
	padding: 10px 0 10px 0;
	margin-left: 60px;
	font-family: 'Bree Serif', serif;
}

.heading h3 {
	margin-left: 60px;
	padding: 10px;
	font-weight: bold;
}

a.overview-button {
	background-color: #2D8967;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 15px 0 60px 60px;
}

a.overview-button:hover {
	color: #82CBB0;
}

div.heading, .why, .register, .navbar {
	border-style: solid;
	border-color: #82CBB0;
	border-width: 0 0 2px 0;
    padding: 5px;

}

/*******************************
 ************Why Tiws*************
 ******************************/

div.why {
    display: inline-block;
    padding: 10px 0 15px 0;
    background: #ffffff; 
    position: relative;
 
}

div.feature {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row;
    padding-left: 26px;
    padding-top: 10px;
    border: 1px hidden;
    width: 30%;

}

.img-circle {
    border-radius: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
}


h3.side-head {
    font-weight: bold;
    font-size: 16px;
    font-family: 'Muli', sans-serif;
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
}

p {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}

 /*******************************
 ************Tiws*************
 ******************************/

div.tiws {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    overflow: hidden; 
    background-color: white;  
}

h2.quote {
    border: 0px solid;
    background: #ffffff;
    width: 250px;
    height: 25px;
    text-align: center;
    display: inline;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
    opacity: 1;
}

h2.quote:hover {
    text-decoration: underline;
    text-transform: uppercase;
}

/*******************************
 ************Register*************
 ******************************/

div.register {
    text-decoration: none;
    padding: 10px;
    text-align: center;
    overflow: hidden;
}

a.register-button {
    background-color: #2D8967;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
}

a.register-button:hover {
    color: #82CBB0;
}

/*******************************
 ************Contact*************
 ******************************/

div.contact {
    background-color: #E5E5E5;
    text-align: center;
    padding: 5px 0 10px 0;
}

h5.sec {
    font-weight: bold;
}

/*******************************
 ************Footer*************
 ******************************/

 div.foot {
    background-color: #2D8967;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    padding: 15px;
 } 

/*******************************
 ********Mobile version*********
 ******************************/

